/* --- nullify --- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* --- body --- */
body {
  height: 100%;
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

._container {
  max-width: 1420px;
  margin: 0px auto;
}
@media (max-width: 1440px) {
  ._container {
    max-width: 1180px;
  }
}
@media (max-width: 768px) {
  ._container {
    max-width: 648px;
  }
}
@media (max-width: 390px) {
  ._container {
    max-width: 358px;
  }
}

/* --- utilities --- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.mt-16 {
  margin-top: 16px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .mt-100 {
    margin-top: 60px;
  }
}
.mt-130 {
  margin-top: 130px;
}
.mt-250 {
  margin-top: 250px;
}
@media (max-width: 1440px) {
  .mt-250 {
    margin-top: 200px;
  }
}
@media (max-width: 768px) {
  .mt-250 {
    margin-top: 120px;
  }
}
.mt-20 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.section-name {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  color: #444444;
}
@media (max-width: 1440px) {
  .section-name {
    line-height: 60px;
  }
}
@media (max-width: 768px) {
  .section-name {
    font-size: 40px;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
  gap: 8px;
  border-radius: 50px;
}
@media (max-width: 1440px) {
  .btn {
    padding: 20px;
  }
}
.btn-lang {
  gap: 8px;
  flex-grow: 1;
}
.btn-grey {
  color: #444;
}
.btn-red {
  color: #fff;
  background-color: #fe2d29;
  font-weight: 600;
}
.btn-cta {
  color: #fff;
  background-color: #fe2d29;
  padding: 24px;
  gap: 8px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .btn-cta {
    padding: 20px;
    flex-shrink: 0;
  }
}
@media (max-width: 390px) {
  .btn-cta {
    padding: 20px;
    min-width: 60px;
    min-height: 60px;
  }
}
.btn-small {
  padding: 12px 24px;
  background: #f2f2f2;
}
.btn-dark {
  color: #ffffff;
  background: #494450;
}
.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn-cta-big {
  color: #fff;
  background-color: #fe2d29;
  padding: 24px;
  gap: 8px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 4px;
}
.icon-light {
  background: #e4e4e4;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
}
.icon-light > img {
  width: 24px;
  height: 24px;
}
.icon-grey {
  background: #494450;
}
.icon-dark {
  width: 52px;
  height: 52px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.overflow-x {
  overflow-x: visible;
}

/* --- header --- */
.header {
  margin-top: 40px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 64px;
}
.header__left {
  display: flex;
  justify-content: space-between;
}
.header__logo > img {
  height: 42px;
  width: 154px;
}
.header_menu {
}
.menu__list {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 50px;
  margin-left: 40px;
}
.menu__link {
  background-color: inherit;
  color: inherit;
}

.header__right {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.button__list {
  display: flex;
  padding: 0px;
  height: 64px;
  background: #f2f2f2;
  border-radius: 50px;
}
.button__item {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 8px;
}
.button__button {
  width: 22px;
  height: 16px;
}
.burger_menu {
  display: flex;
  padding: 8px;
  gap: 8px;
  width: 36px;
  height: 36px;
}

/* --- cover --- */
.cover {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .cover {
    flex-direction: column;
  }
}
.cover__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text__block {
}
.text__top {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  text-transform: uppercase;
  color: #444444;
}
.text__description {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .text__description {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 390px) {
  .text__description {
    align-items: flex-end;
  }
}
.text__bottom {
  line-height: 19px;
  color: #808080;
  max-width: 594px;
}
.btn-rac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  background: #fe2d29;
  color: #fff;
  border-radius: 50px;
}
@media (max-width: 1440px) {
  .btn-rac {
    padding: 24px;
    line-height: 16px;
  }
}
.text__contacts {
  display: flex;
  gap: 20px;
}
.contacts__item {
  display: flex;
  align-items: center;
  padding: 16px;
  background: #f2f2f2;
  border-radius: 4px;
  gap: 8px;
}
.cover__image {
  position: relative;
  width: 700px;
  height: 654px;
}
.cover__image > img {
  width: inherit;
  height: inherit;
}
@media (max-width: 768px) {
  .cover__image {
    width: 648px;
    height: 576px;
  }
}
@media (max-width: 390px) {
  .cover__image {
    width: 358px;
    height: 376px;
  }
}

.cover__image_text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 24px 40px; */ /* by design */
  padding-top: 36px;
  padding-bottom: 36px;
  gap: 8px;
  background: #f2f2f2;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .cover__image_text {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-size: 17px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media (max-width: 390px) {
  .cover__image_text {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.cover__toptext {
  top: 0px;
  right: 0px;
  width: 45%;
  text-transform: uppercase;
}
@media (max-width: 390px) {
  .cover__toptext {
    width: 60%;
  }
}
.cover__bottomtext {
  bottom: 0px;
  left: 0px;
  width: 55%;
}
@media (max-width: 390px) {
  .cover__bottomtext {
    width: 60%;
  }
}

/* --- down button --- */
.down__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #494450;
  border-radius: 50px;
}

/* --- advantages --- */
.advantages {
  margin-top: 50px;
}
.advantages__list {
  display: flex;
  align-content: center;
  gap: 20px;
}
.advantages__item {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 24px;
  background: #f2f2f2;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .advantages__item {
    flex-basis: 50%;
    min-width: 314px;
    max-width: 314px;
  }
}
@media (max-width: 390px) {
  .advantages__item {
    flex-basis: 50%;
    min-width: 265px;
    max-width: 265px;
  }
}
.advantages__title {
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #444444;
}
.advantages__description {
  margin-top: 64px;
  font-size: 16px;
  line-height: 19px;
  color: #808080;
}

/* --- services --- */
.services {
}
.services__body {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 20px;
}
@media (max-width: 768px) {
  .services__body {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.services__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 20px;
}
.selected_service {
  border: 1px solid #fe2d29;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .selected_service {
    border: none;
  }
}
.services__service {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 64px;
  background: #f2f2f2;
  border-radius: 16px;
}
@media (max-width: 1440px) {
  .services__service {
    padding: 20px;
    gap: 22px;
  }
}
@media (max-width: 768px) {
  .services__service {
    padding: 0px;
    gap: 10px;
    background: none;
  }
}
.service__image {
}
@media (max-width: 768px) {
  .service__image {
    width: 100%;
  }
}
.service__title {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.service__title_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
}
@media (max-width: 768px) {
  .service__title_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}
.service__arrow_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
}
.grid-2c {
  grid-column: 1 / span 2;
}
.service__arrow_container_active {
  display: flex;
  padding: 8px;
  background: #fe2d29;
  border-radius: 50px;
}
.services__active_service {
  display: flex;
  flex-direction: column;
  padding: 0px;
  background: #f2f2f2;
  border-radius: 16px;
  gap: 40px;
}
@media (max-width: 768px) {
  .services__active_service {
    padding: 20px;
    gap: 80px;
  }
}
@media (max-width: 390px) {
  .services__active_service {
    padding: 0px;
  }
}
.active_service__image {
  width: 100%;
}
.active_service__description_container {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.active_service__description {
}
.active_service__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
  padding-top: 5px;
}
.active_service__short_description {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #444444;
  padding-top: 5px;
}
.active_service__long_description {
  line-height: 140%;
  color: #808080;
  padding-top: 5px;
}
.active_service__frequent_breakage {
  margin-top: 40px;
}
.frequent_breakage_list__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #444444;
}
.active_service__frequent_breakage_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 390px) {
  .active_service__frequent_breakage_list {
    display: flex;
    flex-direction: column;
  }
  .active_service__frequent_breakage_row {
    display: flex;
  }
  .frequent_breakage_list__item {
    display: flex;
    gap: 20px;
  }
}
.frequent_breakage_list__item {
  display: flex;
  gap: 20px;
}
.frequent_breakage_item__icon {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: #e4e4e4;
  border-radius: 4px;
}
.frequent_breakage_item__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}
.frequent_breakage_item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}
.frequent_breakage_item__text {
  font-size: 14px;
  line-height: 17px;
  color: #808080;
}
.call_to_action_form {
  display: flex;
  gap: 20px;
}
.services__cta_form {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .services__cta_form {
    margin-top: 80px;
    margin-bottom: 0px;
  }
}
.call_to_action__phone {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  gap: 8px;
  background-color: #e4e4e4;
  color: #494450;
  border-radius: 50px;
  flex-grow: 1;
}
.call_to_action__phone::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #494450;
}
.dark-input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #d9d9d9;
}
.dark-input::placeholder {
  line-height: 19px;
  color: #d9d9d9;
}
.services__cta_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 48px;
  background: #fe2d29;
  border-radius: 50px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}

/* --- about us --- */
.aboutus {
}
.aboutus__top {
}
.aboutus__description {
  margin-top: 24px;
  line-height: 140%;
  color: #808080;
}

.aboutus__bottom {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .aboutus__bottom {
    flex-direction: column-reverse;
  }
}
.aboutus__accordion {
  flex-basis: 48%;
}
.aboutus__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutus__item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  border-radius: 16px;
}
.accordion_open {
  background: #f2f2f2;
}
.aboutus__item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutus__item_title {
  display: flex;
  align-items: center;
  gap: 16px;
}
.aboutus__item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background: #494450;
  border-radius: 4px;
}
.aboutus__item_icon > img {
  height: 24px;
}
.aboutus__item_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #444444;
}
.aboutus__item_arrow {
}
.aboutus__item_text {
  line-height: 140%;
  color: #808080;
}
.aboutus__image {
  height: 100%;
  overflow: hidden;
  flex-basis: 48%;
}
.aboutus__image > img {
  object-fit: scale-down;
}
/* --- price list --- */
.prices {
  position: relative;
}
.prices__header {
}
.prices__title {
  display: flex;
  justify-content: space-between;
}
.prices__list {
  margin-top: 48px;
  padding: 32px;
  background: #f2f2f2;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .prices__list {
    padding: 0px;
  }
}
.prices__item {
  display: flex;
  align-items: center;
  padding: 32px;
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 390px) {
  .prices__item {
    padding: 16px;
  }
}
.prices__item_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.prices__item_title {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
}
.prices__item_icon {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: #494450;
  border-radius: 4px;
}
.prices__item_name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #444444;
}
.name {
}
.prices_item_arrow {
}
.prices__item_text {
}
.prices__more {
  position: absolute;
  bottom: -37px; /* -(button_width[54] / 2 + 10) */
  left: 50%;
}

/* --- frequent breakdowns --- */
.frequent_breakdowns {
}
.frequent_breakdowns__header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.frequent_breakdowns__tabs {
  display: flex;
  gap: 16px;
}
.frequent_breakdowns__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: #f2f2f2;
  border-radius: 50px;
}
.frequent_breakdowns__option {
  font-weight: 600;
  line-height: 19px;
  color: #444444;
}
.frequent_breakdowns__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.frequent_breakdowns__item {
  flex-grow: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f2f2f2;
  border-radius: 16px;
  min-width: 340px;
  max-width: 340px;
}
@media (max-width: 1440px) {
  .frequent_breakdowns__item {
    min-width: 280px;
    max-width: 280px;
  }
}
@media (max-width: 765px) {
  .frequent_breakdowns__item {
    min-width: 314px;
    max-width: 314px;
  }
}
@media (max-width: 390px) {
  .frequent_breakdowns__item {
    min-width: 265px;
    max-width: 265px;
  }
}
.frequent_breakdowns__name {
  margin-top: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #444444;
}
.frequent_breakdowns__description {
  margin-top: 8px;
  line-height: 140%;
  color: #808080;
}
.frequent_breakdowns__price {
  margin-top: 133px;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #444444;
}

.testimonials {
  padding: 80px 0px;
  gap: 8px;
}
@media (max-width: 390px) {
  .testimonials {
    padding: 32px 24px;
  }
}
.bg-dark {
  background: #494450;
  border-radius: 24px;
}
.font-light {
  color: #ffffff;
}

.testimonials__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 824px;
  margin: 0px auto;
}
@media (max-width: 768px) {
  .testimonials__body {
    width: 488px;
  }
}
@media (max-width: 390px) {
  .testimonials__body {
    width: 310px;
  }
}
.testimonials__title {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 390px) {
  .testimonials__name {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
  }
}
.testimonials__description {
  line-height: 140%;
  text-align: center;
  margin: 0px auto;
}
.text-center {
  text-align: center;
}
.testimonials__list {
}
.testimonials__testimonial {
  margin-top: 40px;
  padding: 40px;
  gap: 64px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}
@media (max-width: 390px) {
  .testimonials__testimonial {
    padding: 24px;
    gap: 32px;
  }
}
.testimonial__text {
  font-size: 20px;
  line-height: 140%;
}
.testimonial__footer {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}
.testimonial__user {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testimonial__user_avatar {
  width: 48px;
  height: 48px;
  background: url(/img/testimonials/user1.png);
  border-radius: 50px;
}
.testimonial__user_name {
  font-weight: 600;
  line-height: 140%;
}
.testimonial__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.testimonials__controls {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 700px;
}
@media (max-width: 1440px) {
  .testimonials__controls {
    width: 580px;
  }
}
@media (max-width: 768px) {
  .testimonials__controls {
    width: 312px;
  }
}
.testimonials__navigation_list {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
.testimonials__navigation_item {
}

/* --- gallery --- */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.gallery__header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .gallery__header {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.gallery-name {
  max-width: 577px;
}
.logo-sm {
  align-self: flex-end;
  background-color: #000;
  padding: 10px;
  /* icon is really buggy */
}
@media (max-width: 768px) {
  .logo-sm {
    align-self: flex-start;
    margin-top: 32px;
  }
}
.gallery__photos {
  display: grid;
  grid-template-columns: repeat(4, 340px);
  grid-template-rows: repeat(2, 297px);
  gap: 20px;
}
@media (max-width: 1440px) {
  .gallery__photos {
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(2, 297px);
  }
}
.gallery__photo {
  border-radius: 50px;
}
.gallery__photo1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: url(/img/gallery/Img1.png);
}
.gallery__photo2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  background: url(/img/gallery/Img2.png);
}
.gallery__photo3 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  background: url(/img/gallery/Img3.png);
}
.gallery__photo4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background: url(/img/gallery/Img4.png);
}
.gallery__photo5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background: url(/img/gallery/Img5.png);
}
@media (max-width: 768px) {
  .gallery__photos {
    grid-template-columns: repeat(2, 314px);
    grid-template-rows: 300px 124px 300px 300px;
  }
  .gallery__photo1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gallery__photo2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .gallery__photo3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .gallery__photo4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .gallery__photo5 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}
@media (max-width: 390px) {
  .gallery__photos {
    grid-template-columns: repeat(2, 171px);
    grid-template-rows: repeat(4, 200px);
    gap: 18px;
  }
  .gallery__photo {
    border-radius: 16px;
  }
  .gallery__photo1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gallery__photo2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .gallery__photo3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .gallery__photo4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .gallery__photo5 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}

/* --- gallery --- */
.contacts {
  display: flex;
  padding: 40px;
  gap: 40px;
  background: #494450;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
}
.contacts__map {
  flex-basis: 48%;
  background: url(/img/map.png);
  border-radius: 16px;
}
@media (max-width: 1440px) {
  .contacts__map {
    flex-basis: 48%;
    background: url(/img/map-md.png);
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .contacts__map {
    min-height: 300px;
  }
}
.contacts__body {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.section-name-lg {
  font-weight: 700;
  font-size: 100px;
  line-height: 70%;
}
@media (max-width: 768px) {
  .section-name-lg {
    font-size: 64px;
  }
}
@media (max-width: 390px) {
  .section-name-lg {
    font-size: 48px;
  }
}
.contacts__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .contacts__contact {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-basis: 48%;
  flex-grow: 1;
}
.contacts__cta_form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .contacts__cta_form {
    margin-top: 214px;
  }
}
@media (max-width: 768px) {
  .contacts__cta_form {
    margin-top: 40px;
  }
}
.contact__text {
  line-height: 140%;
  color: #d9d9d9;
}
.contact__text--bold {
  line-height: 140%;
  font-weight: 600;
  color: #d9d9d9;
}
.contacts_cta_button {
  width: 72px;
  height: 72px;
}

/* --- footer --- */
.footer {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  border-radius: 24px;
  padding: 40px;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 24px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__title > img {
  width: 154px;
  height: 42px;
}
.footer__eneik_description {
  line-height: 140%;
  color: #808080;
}
.footer__menu {
  display: flex;
  gap: 20px;
}
.footer__navigation {
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  background: #e4e4e4;
  border-radius: 24px;
}
@media (max-width: 1440px) {
  .footer__navigation {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .footer__navigation {
    width: 100%;
  }
}
.footer__navigation_item {
  height: 28px;
  font-size: 20px;
  line-height: 140%;
}
.footer__lang_and_link {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1440px) {
  .footer__lang_and_link {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .footer__lang_and_link {
    width: 100%;
  }
}
.footer__languages {
  display: flex;
  justify-content: space-between;
  background: #e4e4e4;
  border-radius: 500px;
}
.footer__coworking {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 32px;
  background: #e4e4e4;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .footer__coworking {
    gap: 141px;
  }
}
.coworking__logo {
  width: 111px;
  height: 31px;
}
.coworking__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.coworking__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #444444;
  max-width: 236px;
}
@media (max-width: 1440px) {
  .coworking__text {
    width: 176px;
    font-size: 20px;
  }
}
.copyright {
  line-height: 140%;
  color: #808080;
}
@media (max-width: 768px) {
  .copyright {
    margin: 0px auto;
  }
}

/* --- should be in the end to override --- */
.hidden {
  display: none;
}

/* hidden if smaller then */
@media (max-width: 1440px) {
  .hidden-md {
    display: none;
  }
}
@media (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
@media (max-width: 390px) {
  .hidden-xs {
    display: none;
  }
}
/* hidden if larger then */
@media (min-width: 1440px) {
  .lg-hidden {
    display: none;
  }
}
@media (min-width: 1440px) {
  .md-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .sm-hidden {
    display: none;
  }
}
@media (min-width: 390px) {
  .xs-hidden {
    display: none;
  }
}
